{
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "parserOptions": {
                "project": "example/tsconfig.json",
                "sourceType": "module"
            },
            "globals": {
                "expect": true,
                "it": true
            }
        }
    ]
}
