{
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "parserOptions": {
                "project": "__tests__/tsconfig.json",
                "sourceType": "module"
            },
            "globals": {
                "expect": true,
                "it": true
            },
            "rules": {
                "@typescript-eslint/no-unsafe-return": 0,
                "@typescript-eslint/no-unsafe-member-access": 0,
                "@typescript-eslint/no-unsafe-assignment": 0
            }
        }
    ]
}
